.block
{
    width: 10rem;
    background: red;
    height: 30%;
    margin: 1rem 5rem;
}

.block2 {
    width: 10rem;
    background: blue;
    height: 20%;
    margin: 1rem 3rem;
}

.name {
    background: green;
    width: 10rem;
    height: 10rem;
}